.left-form{
    -fx-background-color:linear-gradient(to top right, #3d230a, #593721);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}
.right-form{
    -fx-background-color: rgba(86, 72, 72, 0);
    -fx-border-color: rgba(86, 72, 72, 0);
    -fx-border-width: .4px .4px .4px 0px;
}
.close{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff496a;
}
.textfield{
    -fx-background-color:linear-gradient(to bottom, rgba(243, 237, 237, 0.5), rgba(255, 255, 255, 0.5));
    -fx-background-radius:4px;
    -fx-font-size:13px;
    -fx-border-color: #000;
    -fx-border-width: .4px;
    -fx-border-radius: 4px;
    -fx-font-family: Tahoma;
}
.textfield:focused{
    -fx-background-color: rgba(243, 237, 237, 0.5);
    -fx-border-color:linear-gradient(to top right, #3d230a, #593721);
    -fx-border-width: 1px;
}
.login-btn{
    -fx-background-color:linear-gradient(to top, #21422e, #1d3b2e);
    -fx-background-radius: 4px;
    -fx-cursor:hand;
    -fx-text-fill: rgba(243, 237, 237, 0.5);
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}
.login-btn:hover{
    -fx-background-color:linear-gradient(to top, #21422e, #1d3b2e);
}
.close{
    -fx-background-color:linear-gradient(to top, #13281b, #1d3b27);
    -fx-background-radius: 4px;
    -fx-cursor:hand;
    -fx-text-fill: rgba(255, 255, 255, 0.5);
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}
.close:hover{
    -fx-background-color:linear-gradient(to top, #21422e, #1d3b2e);
}